<div class="form-layout">
    <form [formGroup]="userForm">
        <!-- Name Row -->
        <h2>Create User</h2>
        <div class="section-title">Name</div>
        <div class="section">
            <div class="form-row">
                <label>First Name:
                    <input type="text" formControlName="firstName" />
                </label>
                <label>Middle Name:
                    <input type="text" formControlName="middleName" />
                </label>
                <label>Last Name:
                    <input type="text" formControlName="lastName" />
                </label>
            </div>
        </div>

        <!-- Address Rows -->
        <div class="section-title">Address</div>
        <div class="section">
            <div class="form-row">
                <label>Street:
                    <input type="text" formControlName="street" />
                </label>
                <label>City:
                    <input type="text" formControlName="city" />
                </label>
            </div>
            <div class="form-row">
                <label>State:
                    <input type="text" formControlName="state" autocomplete="off" />
                    @if (userForm.get('state')?.value && filteredStates.length > 0) {
                        <ul class="state-suggestions">
                            @for (state of filteredStates; track state.abbreviation) {
                                <li (click)="selectState(state.abbreviation)">
                                    {{ state.name }} ({{state.abbreviation}})
                                </li>
                            }
                        </ul>
                    }
                </label>
                <label>ZIP:
                    <input type="text" formControlName="zip" />
                </label>
            </div>
        </div>

        <!-- Birthday -->
        <div class="section-title">Birthday</div>
        <div class="section small-row">
            <div class="form-row small-row">
                <label>
                    <input type="date" formControlName="birthday" />
                </label>
            </div>
        </div>

    <button type="submit">Submit</button>
    </form>

    <div class="free-form-box">
        <h2>Notes</h2>
        <textarea #notesBox placeholder="Write notes here..."></textarea>
    </div>

</div>

<app-advanced-dropdown/>
